@import "../../../styles/variables";

.container {
  position: relative;
  cursor: pointer;
  @media (max-width: 850px) {
    width: 90vw;
  }
}
.image {
  position: relative;
  z-index: 1;
  filter: brightness(75%);
  @media (max-width: 850px) {
    width: 100%;
  }
}
.titleContainer {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 256px;
  height: 450px;
  padding-left: 30px;
  display: flex;
  align-items: flex-end;
  color: $color-white;

  &:hover {
    color: $color-black;
    background-color: rgba(255, 255, 255, 0.5);
  }

  h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  @media (max-width: 850px) {
    height: 100%;
    width: 100%;
    h3 {
      width: 40%;
    }
  }
}
