@import "../../../styles/variables";
@import "../../../styles/mixins";

.container {
  background-color: $color-black;
  width: 100%;
  display: flex;
  justify-content: center;
}

.postitionerContainer {
  @include container-center-content;
  width: 100%;
  flex-direction: column;
}

.contentContainer {
  color: $color-white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 40px 0;
}

.logoMenuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family: $font-alata;
  }
}

.socialContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  i {
    padding-top: 13px;
    transform: scale(1.8);
    margin: 0 13px;
  }
  p {
    color: $color-verydarkgrey;
    font-family: $font-alata;
  }
}
