@import "../../../styles/variables";

$thetransition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;

.menubar {
  margin-right: 15px;
  ul {
    display: flex;
    gap: 30px;
    padding-inline-start: 0;
    li {
      list-style-type: none;
      font-family: $font-alata;
      a {
        text-decoration: none;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          width: 50%;
          height: 2px;
          bottom: -0.5rem;
          left: 25%;
          background-color: $color-white;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: $thetransition;
          transition: $thetransition;
        }
        &:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
  }
}
