@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  display: flex;
  width: 100vw;
  max-width: 1220px;
  justify-content: space-between;
  align-items: center;
  color: $color-white;
}

.companyLogo {
  font-size: 2.5rem;
  font-weight: 300;
  font-family: "Alata", sans-serif;
  margin-left: 10px;
}

.menubar {
  margin-right: 15px;
  ul {
    display: flex;
    gap: 30px;
    padding-inline-start: 0;
    li {
      list-style-type: none;
      font-family: $font-alata;
      a {
        @include link-underliner;
      }
    }
  }
}

.mobileContainer {
  color: $color-white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .companyLogo {
    font-size: 3.5rem;
    margin-bottom: 20px;
  }
  .mobileMenubar {
    cursor: pointer;
  }
  .overlayBackground {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    .overlayLogoAndClose {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5vw;
      padding-right: 10vw;
    }
    .overlayMenubar {
      margin-right: 15px;
      ul {
        display: flex;
        flex-direction: column;
        margin-left: 5vw;
        margin-top: 20vw;
        gap: 30px;
        padding-inline-start: 0;
        font-size: 3rem;
        li {
          list-style-type: none;
        }
      }
    }
  }
}
