@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  display: flex;
  width: 100vw;
  max-width: 1220px;
  justify-content: space-between;
  align-items: center;
  color: $color-white;
}

.companyLogo {
  font-size: 2.5rem;
  font-weight: 300;
  font-family: "Alata", sans-serif;
  margin-left: 10px;
}

.menubar {
  margin-right: 15px;
  ul {
    display: flex;
    gap: 30px;
    padding-inline-start: 0;
    li {
      list-style-type: none;
      font-family: $font-alata;
      a {
        @include link-underliner;
      }
    }
  }
  @media (max-width: 850px) {
    ul {
      flex-direction: column;
      align-items: center;
      font-size: 1.5rem;
      margin: 3rem 0;
    }
  }
}
