@import "../../styles/variables";

.container {
  width: 100%;
  margin: 160px 0px;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  @media (max-width: 850px) {
    height: auto;
    margin: 80px 0px;
    align-items: center;
    align-items: center;
    flex-direction: column;
  }
}

.image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  @media (max-width: 850px) {
    position: relative;
    width: 90vw;
  }
}

.contentContainer {
  position: relative;
  z-index: 2;
  width: 550px;
  height: 320px;
  background-color: $color-white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding-left: 100px;
  header {
    font-size: 50px;
    margin-bottom: 40px;
  }
  article {
    color: $color-darkgrey;
    font-family: $font-alata;
    line-height: 1.5rem;
  }
  @media (max-width: 850px) {
    position: relative;
    width: 70vw;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 0px;
    text-align: center;
    header {
      font-size: 30px;
      margin-bottom: 15px;
      margin-top: 40px;
    }
  }
}
