@mixin container-center-content() {
  display: flex;
  justify-content: center;
  padding: 0px 10rem;
  max-width: 1440px;
  min-width: 900px;
}

@mixin link-underliner() {
  $thetransition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;

  text-decoration: none;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: -0.5rem;
    left: 25%;
    background-color: $color-white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: $thetransition;
    transition: $thetransition;
  }
  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
