@import "./variables";
@import "./mixins";

.headerContainer {
  @include container-center-content;
  height: 650px;
  background-image: url("/desktop/image-hero.jpg");
  @media (max-width: 850px) {
    background-image: url("/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    height: 1300px;
  }
}

.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  height: 70%;
  margin-top: 4rem;
  .slogan {
    font-size: 5rem;
    color: $color-white;
    border: 2px solid $color-white;
    padding: 2rem;
    padding-right: 5rem;
    font-weight: 300;
  }
  @media (max-width: 850px) {
    justify-content: flex-start;
    gap: 25vh;
    .slogan {
      width: 80vw;
      word-spacing: 70vw;
      font-size: 4rem;
      padding: 2rem;
      @media (max-width: 500px) {
        font-size: 3rem;
      }
    }
  }
}

.contentContainer {
  @include container-center-content;
  flex-direction: column;
}
